/* NAVBAR ROOT */

.navbar {

  position: sticky;
  top: 0;
  z-index: 1100;

  background: #FAF7F0;

  box-shadow:
    0 2px 8px rgba(0,0,0,0.08);

}


/* CONTAINER */

.navbar-container {

  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


/* LOGO */

.navbar-logo {

  display: flex;
  align-items: center;
  gap: 8px;
  color: #DC2626;

}

.navbar-logo-image{
  height: 80px;
  width: 120px;
  background: #FAF7F0;
}


/* DESKTOP MENU */

.navbar-menu {

  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;

}

.navbar-menu li a {

  text-decoration: none;

  font-weight: 600;

  color: black;

  transition: all 0.3s ease;

  padding: 6px 10px;
  border-radius: 6px;

}

.navbar-menu li a:hover {

  color: #DC2626;

  background:
    rgba(220,38,38,0.1);

}


/* BURGER ICON */

.navbar-toggle {

  display: none;

  cursor: pointer;

  color: #DC2626;

  z-index: 1200;

}


/* OVERLAY */

.navbar-overlay {

  position: fixed;

  inset: 0;

  background:
    rgba(0,0,0,0.4);

  z-index: 1099;

}



/* MOBILE */

@media (max-width: 768px) {

  .navbar-container {

    padding: 1rem;

  }

  .navbar-toggle {

    display: block;

  }

  .navbar-menu {

    position: fixed;

    top: 0;
    right: 0;

    height: 100vh;
    width: 260px;

    background: white;

    flex-direction: column;

    padding-top: 80px;
    padding-left: 24px;

    gap: 20px;

    box-shadow:
      -4px 0 20px rgba(0,0,0,0.15);

    transform: translateX(100%);

    transition: transform 0.3s ease;

    z-index: 1100;

  }

  .navbar-menu.active {

    transform: translateX(0);

  }

}
