.product-card {

  background-color: white;
  border-radius: 14px;

  overflow: hidden;

  box-shadow:
    0 4px 15px rgba(0,0,0,0.08);

  transition: all 0.35s ease;

  display: flex;
  flex-direction: column;

  height: 100%;

}


.product-card:hover {

  transform: translateY(-10px);

  box-shadow:
    0 18px 40px rgba(0,0,0,0.15);

}


/* IMAGE */

.product-image-container {

  width: 100%;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(
      135deg,
      #F5EFE6,
      #FAF7F0,
      #EFE6DA
    );

}


.product-image {

  max-width: 90%;
  max-height: 90%;

  object-fit: contain;

}


/* CONTENT */

.product-content {

  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  flex-grow: 1;

}


/* TITLE */

.product-title-container {

  /* margin-bottom: 10px; */

}


.product-name {

  font-size: 1.3rem;
  font-weight: 700;

  color: #DC2626;

}


/* DESCRIPTION */

.product-description-container {

  margin-bottom: 1rem;

}


.product-description {

  color: #1f2937;
  line-height: 1.6;

}


/* READ MORE */

.read-more-btn {

  color: #a1a406;

  font-weight: 900;

  cursor: pointer;

  font-size: 0.9rem;

  display: inline-block;

  /* margin-top: 4px; */

}


.read-more-btn:hover {

  text-decoration: underline;

}


/* BUTTONS */

.product-footer {

  display: flex;

  gap: 10px;

  margin-top: auto;

}


.product-button {

  flex: 1;

  border: none;

  padding: 10px 16px;

  border-radius: 8px;

  font-weight: 600;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

}


.buy-btn {

  background: linear-gradient(
    135deg,
    #DC2626,
    #B91C1C
  );

  color: white;

}


.enquiry-btn {

  background: linear-gradient(
    135deg,
    #111827,
    #374151
  );

  color: white;

}
